## ---------- LaTeX ----------
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.synctex(busy)
*.pdf
*.xdv
*.fdb_latexmk
*.run.xml
*-blx.bib
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.nav
*.snm
*.vrb

## ---------- Système ----------
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Ll]ibrary/
[Tt]emp/
[Ww]indir/
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## ---------- Éditeurs & IDE ----------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
*.swp
*.swo
*~
*.bak
*.backup
*.tmp
*.temp

## ---------- Office / LibreOffice fichiers verrous ----------
~$*.docx
~$*.doc
~$*.xlsx
~$*.xls
~$*.pptx
~$*.ppt
.~lock.*

## ---------- Tars/archives ----------
*.tar
*.tar.gz
*.zip
*.rar
*.7z
